 <footer class="middle_color1 pt-5 pb-5">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center footer_buty">Beautifully Designed & Easy to Customize.</div>
                    <div class="col-md-12 text-center mt-4 mb-4">
                        <button type="button" class="btn btn-primary download_btn">Download Amava and Make Your Life Easier</button>
                    </div>
                    <div class="col-md-12 text-center footer_second pt-4 pb-4">© 2023 Amava is Powered by Chitrakoot Web</div>
                </div>
            </div>
        </div>

    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
