 {% extends 'base.html' %}
 {% block home %}


    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-md-12 text-center section_main">Hot Demos</div>
                </div>
                <div class="row  ">
                    <div class="col-md-4 back_effect mr-3 ">
                        <img src="https://amava.websitelayout.net/img/demos/5.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/6.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/7.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/8.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/9.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <section class="middle_color">
        <div class="container-fluid">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-md-12 text-center section_main">Hot Demos</div>
                </div>
                <div class="row  ">
                    <div class="col-md-4 back_effect mr-3 ">
                        <img src="https://amava.websitelayout.net/img/demos/10.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/11.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/12.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/13.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/14.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-md-12 text-center section_main">Popular Demos</div>
                </div>
                <div class="row  ">
                    <div class="col-md-4 back_effect mr-3 ">
                        <img src="https://amava.websitelayout.net/img/demos/1.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/2.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/3.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/4.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/5.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <section class="middle_color">
        <div class="container-fluid">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-md-12 text-center section_main">Hot Demos</div>
                </div>
                <div class="row  ">
                    <div class="col-md-4 back_effect mr-3 ">
                        <img src="https://amava.websitelayout.net/img/demos/15.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/16.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/17.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                  
                   
                   
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-md-12 text-center section_main">Hot Demos</div>
                </div>
                <div class="row  ">
                    <div class="col-md-4 back_effect mr-3 ">
                        <img src="https://amava.websitelayout.net/img/demos/18.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/19.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 back_effect mr-3">
                        <img src="https://amava.websitelayout.net/img/demos/20.jpg" alt="" class="img-fluid">
                        <div class="row">
                            <div class="col-md-12 text-center Demo pb-3">
                                Demo 05
                            </div>
                        </div>
                    </div>

                    
                   
                   
                </div>
            </div>
        </div>
    </section>
 {% endblock %}

